@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to bottom, #5B2D7E, #337370);
    }

    section{
        width: 85vw;
        height: 65vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #imagem{
        width: 80%;
        height: 100%;
        border-radius: 0px;
        border-top-left-radius: 22px
    }

}

@media screen and (min-width: 992px) {

    body{
        background-image: linear-gradient(to bottom, red);
    }

    section{
        width: 85vw;
        height: 65vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    #imagem{
        width: 80%;
        height: 100%;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 22px
    }

    #enviar{
        padding: 12px;
        font-size: 16px;
    }

    form p{
        padding: 5.5px;
    }
}